* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: open sans;
    background-color: black;
}
.web {
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(200, 200, 200, 0.01)), url(https://i.postimg.cc/RVzhSQLM/Adobe-Ex.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    position: relative;
    background-position: center;
    color: white;
}
.content {
    position: relative;
    min-height: 50%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10% 8%;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    z-index: 1;
    position: sticky;
}
@keyframes lineup {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.nav-links {
    flex: 1;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-left: 5%;
}
 a {
    color: white;
    text-decoration: none;
}
.contact {
    font-size: 0.96rem;
    color: white;
    text-decoration: none;
    position: sticky;
    left: 100%;
}
.mainheading {
    width: 38vw;
    font-size: 3.7rem;
    font-family: sans-serif;
    transition: all 2s ease;
    animation: 1.5s lineup ease-out;
}
.mainT {
    font-size: 1.15rem;
    padding: 10px 0;
    max-width: 50%;
    animation: 2s lineup ease-out;
    color: rgb(189, 189, 189);
    line-height: 2rem;
    font-family: open sans;
}
header{
    font-family: open sans;
    animation: 2s lineup ease-out;
}
.big-nav,.icon ,.nav-content{
    display: none;
}
.link {
    color: rgb(221, 125, 0);
}
/* -------Project page ---------*/
.page-data {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    top: 70vh;
    gap: 2rem;
}
.space {
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 100%;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(255, 255, 255, 0.63) 1.95px 1.95px 2.6px;  
}
.image {
    width: 30rem;
    border-radius: 1rem 0.6rem;
    box-shadow: rgb(156, 146, 146) 2px 2px 5px 2px;
}
.pname{
    color: black;
}
/*-------Form------  */
form {
    padding: 1rem;
}
.input-style {
    width: 20rem;
    background-color: rgba(84, 84, 84, 0.431);
    border-radius: 5px;
    color: white;
    padding: 0.4rem;
    border: none;
}
.submitbtn {
    background-color: rgba(84, 84, 84, 0.431);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
}
.submit {
    text-decoration: none;
    color: orange;

}
@media (max-width:412px) {
    .web {
        background-size: cover;
        background-position: 80% 0;
    }
    .page-data {
        position: absolute;
        width: 100%;
        top: 100%;
    }
    .space {
        border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    width: 100%;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(255, 255, 255, 0.63) 1.95px 1.95px 2.6px;  
        padding: 2rem;
    }
    .image {
        width: 90%;
        border-radius: 2rem 1.5rem;
        box-shadow: rgb(90, 73, 73) 2px 2px 8px 2px;
    }
    
}

@media (max-width:768px) {
    .web {
        background-size: cover;
        background-position: 30% 0;
    }
    .navbar {
        display: none;
    }
    .content {
        position: relative;
        min-height: 50%;
        min-width: 70%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 30% 8%;
    }

    /* ----Navbar----- */
    .icon {
        height: 3.5rem;
        width: 3.5rem;
        display: block;
        float: left;
        position: absolute;
        margin: 2%;
        background-color: rgba(32, 32, 32, 0.76);
        padding: 1.2rem 1rem;
        border-radius: 20%;
        z-index: 1;
    }

    .nav-content {
        transition: all 0.5s;
        position: fixed;
        background-color: black;
        height: 100vh;
        width: 0vw;
        z-index: 1;
        font-size: 2rem;
        list-style: none;
        display: none;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        transition: 1s ease-in-out;
    }    
    .alink{
        text-decoration: none;
        color: white;       
    }    
    .open-nav {
        width: 100vw;
        display: flex;
    }   
}
@media (max-width:1000px) {
    .web {
        background-size: cover;
        background-position: 70% 0;
    }
}
